*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    font-family: Arial,  sans-serif;
    line-height: 1.6;
    color: whitesmoke;
}
.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}
.header{
    background-color: rgb(225, 225, 238);
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: brown;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
  
}
.nav-links a{
    color: rgb(125, 51, 51);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease ;
}
.nav-links a:hover{
    background-color: #6e6c6c;
}
.nav-right{
    display: flex;
    gap: 15px;
}
.nav-right input{
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}
.cart{
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}
.account img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
    cursor:pointer;
}
.hero{
    height: 100vh;  
    margin-top:80px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(105, 74, 74);
}
.left h1{
    font-size: 4rem;
    margin-bottom:1rem ;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 20%;
}
.left p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: 10%;
}
.right img{
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: right;
    width: 60%;
    margin-left: 25%;
    height: 50%;
   

}
.btn{
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    color: brown;
    background-color: #6e6c6c;
}
.btn:hover{
    background-color: rgb(218, 121, 85);
    transform: translate(-2px);
}
.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #d3d0d0;
    color: brown;
    padding: 30px;
    margin-top: 30px;
}