*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

.checkout-container{
    width:90%;
    margin:50px auto;
    display:flex;
    gap:30px;
}

.payment-section,
.summary-section{
    flex:1;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
}

.payment-methods{
    display:flex;
    gap:10px;
    margin:15px 0;
}

.payment-methods button{
    padding:12px 20px;
    border:1px solid #ddd;
    background:white;
    border-radius:8px;
    cursor:pointer;
}

.row{
    display:flex;
    gap:10px;
}

.coupon{
    display:flex;
    gap:10px;
    margin:20px 0;
}

.coupon button{
    background:#2196f3;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

.price p,
.price h3{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
}

.pay-btn{
    width:100%;
    padding:15px;
    background:#f4a261;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}